<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<strong> Tags: </strong><br/>
<% @tags.each do |tag|  %>
   <p>
   		<%= tag %>
   </p>
<% end %>


